.subscriptionPlanSection {
  position: relative;
  margin: 5px 0 0 5px;
  padding: 15px 20px 20px 15px;
  border-radius: 20px 20px 0px 20px;
  border: 1px solid var(--line-stay-the-same, #222222);
  background: var(--box-default, #fbfbfb);
  z-index: 1;
}

/* TODO: 확인 필요 */
.subscriptionPlanSection::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 20px;
  border: 1px solid var(--line-stay-the-same, #222222);
  background: var(--box-default, #fbfbfb);
  z-index: -1;
}

.sectionTop {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--less-highlight, #7d7d7d);
}

.sectionInfo {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  gap: 8px;
  margin: 20px 0;
}

.textSub {
  color: var(--text-sub, #767676);
}

.paymentInfo {
  display: flex;
  align-items: center;
}

.paymentImage {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sectionBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textButton {
  margin: 0;
  padding: 10px 0;
  border-width: 0;
  border-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-family: 'Pretendard Variable';
  font-size: 14px;
  font-weight: 600;
  text-decoration-line: underline;
  user-select: none;
  appearance: none;
  cursor: pointer;
  color: var(--text-sub, #767676);
}
