.buttonrequestChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.autolayoutChild {
  width: 15px;
  position: relative;
  height: 15px;
}
.div {
  position: relative;
  line-height: 123%;
  font-weight: 600;
}
.autolayout {
  position: absolute;
  top: 15px;
  left: 130px;
  width: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.buttonrequest {
  width: 339px;
  position: relative;
  height: 50px;
  text-align: center;
  font-size: var(--culf-text-2-size);
  color: var(--color-darkslategray);
  font-family: var(--culf-text-2);
}
