.iconmenu {
  width: 28px;
  position: relative;
  height: 28px;
}
.button {
  position: relative;
  line-height: 123%;
  font-weight: 600;
}
.property1size1Property2pl {
  width: 335px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--box-default);
  border: 1px solid var(--keycolor-2);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-3xs);
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--culf-text-2-size);
  color: var(--keycolor-2);
  font-family: var(--culf-text-2);
}
