.cardChild {
  position: absolute;
  height: 100.67%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -0.67%;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--box-default);
  border: 1px solid var(--line-less-highlight);
  box-sizing: border-box;
}
.div,
.mkfj8224070402 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.div {
  width: 50px;
  display: inline-block;
  flex-shrink: 0;
}
.mkfj8224070402 {
  color: var(--color-black);
}
.row {
  align-self: stretch;
}
.autolayout,
.row,
.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.autolayout {
  position: absolute;
  top: 12px;
  left: 14px;
  width: 182px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.div9 {
  position: relative;
  line-height: 182%;
  font-weight: 500;
}
.iconsimpleArrow {
  width: 5px;
  position: relative;
  height: 11px;
  object-fit: contain;
}
.tagParent,
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.tagParent {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 153.5px);
  width: 307px;
  height: 25px;
  justify-content: space-between;
  color: var(--line-highlight);
}
.card {
  width: 335px;
  position: relative;
  height: 180px;
  text-align: left;
  font-size: var(--culf-button-2-size);
  color: var(--text-sub);
  font-family: var(--culf-text-2);
}
