.b,
.culf {
  line-height: 123%;
}
.culf {
  position: absolute;
  top: 47px;
  left: 133px;
  font-weight: 900;
  color: var(--background-default);
  text-align: center;
  display: none;
  width: 64px;
  height: 31px;
}
.b {
  position: relative;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.icon {
  width: 28px;
  position: relative;
  height: 28px;
}
.frameParent {
  position: absolute;
  top: 44px;
  left: 0;
  width: 282px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-3xl);
  box-sizing: border-box;
}
.b1,
.div1,
.div2 {
  position: relative;
  line-height: 150%;
}
.div1,
.div2 {
  line-height: 120%;
  font-weight: 800;
}
.div2 {
  font-size: var(--culf-text-2-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--text-sub);
}
.number,
.title {
  display: flex;
  flex-direction: row;
}
.number {
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-9xs);
  font-size: var(--culf-title-2-size);
}
.title {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.p {
  margin: 0;
}
.div3 {
  align-self: stretch;
  position: relative;
  font-size: var(--culf-button-2-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--text-sub);
}
.section,
.tokenNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tokenNumber {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.section {
  position: absolute;
  top: 134px;
  left: calc(50% - 119px);
  width: 238px;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.chat {
  width: 282px;
  position: relative;
  background-color: var(--box-default);
  height: 812px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--culf-title-3-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
