.checkedChild {
  position: absolute;
  top: 5.8px;
  left: -0.7px;
  border-radius: var(--br-10xs);
  background-color: var(--box-default);
  border: 1.5px solid var(--keycolor-2);
  box-sizing: border-box;
  width: 21.5px;
  height: 21.5px;
}
.checked,
.checkedItem {
  position: absolute;
  top: 0;
  left: 1px;
  width: 20px;
  height: 20.5px;
}
.checked {
  top: -6.5px;
  left: 0;
  width: 21px;
  height: 26.5px;
}
.checkbox,
.div {
  position: relative;
}
.checkbox {
  width: 20px;
  height: 20px;
}
.div {
  line-height: 150%;
  font-weight: 500;
}
.property1checked {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
