.property1defaultChild {
  width: 21.5px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--box-default);
  border: 1.5px solid var(--line-less-highlight);
  box-sizing: border-box;
  height: 21.5px;
}
.div {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.property1default {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
