.cards,
.contents,
.date {
  display: flex;
  justify-content: flex-start;
}
.date {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-xs);
}
.cards,
.contents {
  flex-direction: column;
  align-items: flex-start;
}
.cards {
  align-self: stretch;
  gap: var(--gap-base);
}
.contents {
  position: absolute;
  top: 227px;
  left: 20px;
  width: 335px;
  gap: var(--gap-xl);
}
