.div,
.div1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.div1 {
  width: 14px;
}
.text {
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--background-default);
  border: 1px solid var(--line-less-highlight);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs);
  gap: var(--gap-11xs);
}
.icondropdown {
  width: 20px;
  position: relative;
  height: 20px;
}
.dropdown,
.property1variant2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.dropdown {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--box-light);
  border: 1px solid var(--line-less-highlight);
  box-sizing: border-box;
  height: 31px;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.property1variant2 {
  position: relative;
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-sub);
  font-family: var(--culf-text-2);
}
