.div {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.radioboxParent,
.text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text {
  padding: 0 var(--padding-11xs);
}
.radioboxParent {
  gap: var(--gap-13xl);
}
.textParent {
  position: absolute;
  top: 628px;
  left: 20px;
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
