.icon {
  width: 14px;
  position: relative;
  height: 14px;
}
.guideText {
  position: relative;
  line-height: 150%;
}
.property1green {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  gap: var(--gap-7xs);
  text-align: left;
  font-size: var(--culf-button-2-size);
  color: var(--pointcolor-green-dark);
  font-family: var(--culf-text-2);
}
