.div,
.iconChild {
  position: absolute;
  top: -1.5px;
}
.iconChild {
  left: -3px;
  border-radius: var(--br-11xs);
  width: 20px;
  height: 20px;
}
.div {
  left: 5px;
  font-weight: 500;
}
.icon {
  width: 14px;
  position: relative;
  height: 14px;
}
.guideText {
  position: relative;
  line-height: 150%;
  font-family: var(--culf-text-2);
}
.property1red {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  gap: var(--gap-7xs);
  text-align: left;
  font-size: var(--culf-button-2-size);
  color: var(--pointcolor-red-default);
  font-family: var(--font-inter);
}
