.guideQuestionBox {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.property1small {
  width: 158px;
  position: relative;
  border-radius: var(--br-xs) var(--br-xs) 0 var(--br-xs);
  background-color: var(--box-default);
  border: 1px solid var(--line-less-highlight);
  box-sizing: border-box;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  text-align: left;
  font-size: var(--culf-button-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
