.iconx,
.writing {
  position: relative;
}
.writing {
  align-self: stretch;
  flex: 1;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.iconx {
  width: 12px;
  border-radius: var(--br-980xl);
  height: 12px;
}
.inputBox {
  align-self: stretch;
  border-radius: 0 var(--br-xs) var(--br-xs) var(--br-xs);
  background-color: var(--box-default);
  border: 1px solid var(--line-highlight);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs);
}
.property1size2Property2wr {
  width: 335px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  text-align: left;
  font-size: var(--culf-button-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
