.xIcon,
.xIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 54.5px;
  height: 19px;
  object-fit: cover;
}
.xIcon1 {
  top: 12.4px;
  left: 33.6px;
  width: 6.7px;
  height: 6.6px;
}
.xParent {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 54.5px;
  height: 19px;
}
.property1default {
  width: 60px;
  position: relative;
  height: 24px;
}
