.image1672Icon {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 14px);
  border-radius: var(--br-11xs);
  width: 27px;
  height: 21px;
  object-fit: cover;
}
.iconpayment {
  width: 32px;
  position: relative;
  height: 32px;
}
.button {
  flex: 1;
  position: relative;
  line-height: 123%;
  font-weight: 600;
}
.property1click {
  width: 159px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--keycolor-5);
  border: 1px solid var(--keycolor-2);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
