.b,
.icon {
  position: relative;
}
.b {
  line-height: 150%;
}
.icon {
  width: 28px;
  height: 28px;
}
.parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.div {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.name,
.text {
  align-self: stretch;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.name {
  gap: var(--gap-5xs);
}
.autolayout,
.frameParent,
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.autolayout {
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
}
.frameParent {
  position: absolute;
  top: 33px;
  left: 20px;
  width: 260px;
  gap: 24px;
}
.popUp {
  width: 300px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--background-default);
  border: 1px solid var(--line-less-highlight);
  box-sizing: border-box;
  height: 378px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--culf-title-3-size);
  color: var(--color-black);
  font-family: var(--culf-text-2);
}
