.div,
.exlegmailcom {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.exlegmailcom {
  width: 183px;
  color: var(--keycolor-2);
  display: none;
}
.parent {
  position: absolute;
  top: 56px;
  left: calc(50% - 140px);
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.popUp {
  width: 300px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--background-default);
  border: 1px solid var(--line-less-highlight);
  box-sizing: border-box;
  height: 207px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--culf-title-3-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
