.iconpayment {
  width: 32px;
  position: relative;
  height: 32px;
  object-fit: cover;
}
.button {
  flex: 1;
  position: relative;
  line-height: 123%;
  font-weight: 600;
}
.paymentbutton,
.property1default {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.paymentbutton {
  width: 159px;
  border-radius: var(--br-3xs);
  background-color: var(--box-light);
  border: 1px solid var(--line-less-highlight);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-base);
  gap: var(--gap-5xs);
}
.property1default {
  width: 334px;
  position: relative;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-sub);
  font-family: var(--culf-text-2);
}
