.div,
.standard {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.div {
  width: 90px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.standard {
  width: 80px;
}
.div1,
.standard,
.usd {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.div1 {
  width: 36px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.usd {
  text-align: center;
}
.money {
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: right;
}
.standard1 {
  width: 79px;
  position: relative;
  font-size: var(--culf-text-2-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--text-default);
  display: none;
}
.property1row1 {
  width: 327px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--culf-button-2-size);
  color: var(--text-sub);
  font-family: var(--culf-text-2);
}
