.p {
  margin: 0;
}
.b {
  flex: 1;
  position: relative;
  line-height: 135%;
}
.title {
  width: 335px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.imageIcon {
  width: 50px;
  position: relative;
  border-radius: var(--br-980xl);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div,
.div1,
.div2 {
  align-self: stretch;
  position: relative;
}
.div {
  line-height: 123%;
  font-weight: 600;
}
.div1,
.div2 {
  font-weight: 500;
}
.div1 {
  line-height: 150%;
  color: var(--text-sub);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div2 {
  font-size: var(--m3-label-medium-size);
  line-height: 123%;
  color: var(--text-guidetext);
}
.text {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.chatChild {
  width: 9px;
  position: relative;
  height: 9px;
}
.chat {
  border-top: 1px solid var(--line-highlight);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xl) var(--padding-sm);
  gap: var(--gap-base);
}
.autolayout,
.chat,
.chat1,
.section {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chat1 {
  border-top: 1px solid var(--line-highlight);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xl) var(--padding-sm);
  gap: var(--gap-base);
  cursor: pointer;
}
.autolayout,
.section {
  flex-direction: column;
  font-size: var(--culf-button-2-size);
}
.section {
  align-items: center;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--culf-title-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
