.p {
  margin: 0;
}
.b {
  position: relative;
  line-height: 135%;
}
.autolayout,
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title {
  width: 335px;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.autolayout {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 var(--padding-xl);
  gap: var(--gap-base);
}
.curator {
  align-self: stretch;
  position: relative;
  height: 182px;
  overflow-x: auto;
  flex-shrink: 0;
}
.section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--culf-title-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
