.div,
.div1 {
  position: relative;
  line-height: 123%;
  font-weight: 600;
}
.div1 {
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textbutton,
.title {
  flex-direction: row;
  align-items: center;
}
.textbutton {
  display: none;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  cursor: pointer;
  font-size: var(--culf-button-2-size);
  color: var(--text-sub);
}
.title {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-3xs);
}
.sectionChild {
  width: 328px;
  position: relative;
  border-top: 1px solid var(--line-less-highlight);
  box-sizing: border-box;
  height: 1px;
  display: none;
}
.image1672Icon {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 14px);
  border-radius: var(--br-11xs);
  width: 27px;
  height: 21px;
  object-fit: cover;
}
.iconpayment {
  width: 32px;
  position: relative;
  height: 32px;
}
.div2,
.visa1048 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div2 {
  font-size: var(--culf-button-2-size);
  color: var(--text-sub);
}
.payment1,
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-9xs);
}
.payment1 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.buttonIcon {
  align-self: stretch;
  width: 24px;
  position: relative;
  max-height: 100%;
}
.payment {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  gap: var(--gap-xl);
}
.iconpayment1 {
  width: 32px;
  position: relative;
  height: 32px;
  object-fit: cover;
}
.payments,
.section {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.payments {
  width: 334px;
  display: none;
  font-size: var(--culf-text-2-size);
}
.section {
  position: absolute;
  top: 558px;
  left: calc(50% - 167.5px);
  display: flex;
  text-align: left;
  font-size: var(--culf-cardtitle-1-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
