.backgroundChild {
  position: absolute;
  top: 5px;
  left: calc(50% - 162.5px);
  border-radius: var(--br-xl) var(--br-xl) 0 var(--br-xl);
  background-color: var(--box-light);
  border: 1px solid var(--text-default);
  box-sizing: border-box;
  width: 330px;
  height: 266px;
}
.background,
.backgroundItem {
  position: absolute;
  top: 0;
  left: calc(50% - 167.5px);
}
.backgroundItem {
  border-radius: var(--br-xl) var(--br-xl) 0 var(--br-xl);
  background-color: var(--box-default);
  border: 1px solid var(--text-default);
  box-sizing: border-box;
  width: 330px;
  height: 266px;
}
.background {
  width: 335px;
  height: 271px;
}
.div {
  position: absolute;
  top: 20px;
  left: 20px;
  line-height: 123%;
  font-weight: 600;
}
.b {
  position: relative;
  line-height: 150%;
}
.price,
.text1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text1 {
  font-size: var(--culf-text-2-size);
}
.price {
  gap: var(--gap-9xs);
}
.div3,
.text {
  align-self: stretch;
}
.div3 {
  position: relative;
  font-size: var(--culf-button-2-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--text-sub);
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.iconpayment {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.visa1048 {
  position: relative;
  line-height: 123%;
  font-weight: 500;
}
.info,
.payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--m3-label-medium-size);
  color: var(--text-sub);
}
.info {
  position: absolute;
  top: 74px;
  left: 20px;
  width: 219px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--culf-title-3-size);
  color: var(--text-default);
}
.section1Child {
  position: absolute;
  top: 53.5px;
  left: calc(50% - 148px);
  border-top: 1px solid var(--line-less-highlight);
  box-sizing: border-box;
  width: 296px;
  height: 1px;
}
.div4 {
  position: relative;
  text-decoration: underline;
  line-height: 123%;
  font-weight: 600;
}
.bottom,
.textbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textbutton {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  cursor: pointer;
}
.bottom {
  position: absolute;
  top: 208px;
  left: calc(50% - 147.5px);
  width: 295px;
  justify-content: space-between;
  font-size: var(--culf-button-2-size);
  color: var(--color-gray-100);
}
.section1 {
  position: absolute;
  top: 227px;
  left: calc(50% - 167.5px);
  width: 335px;
  height: 271px;
  text-align: center;
  font-size: var(--culf-cardtitle-1-size);
  color: var(--color-black);
  font-family: var(--culf-text-2);
}
