.property11Child,
.property11Item {
  width: 7px;
  position: relative;
  border-radius: 50%;
  height: 7px;
}
.property11Child {
  background-color: var(--keycolor-2);
  border: 1px solid var(--text-default);
  box-sizing: border-box;
}
.property11Item {
  background-color: var(--text-default);
}
.property11 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
