.div,
.icon {
  position: relative;
}
.div {
  align-self: stretch;
  width: 239px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.icon {
  width: 32px;
  height: 32px;
}
.property1default {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--background-default);
  border: 1px solid var(--line-highlight);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-9xs)
    var(--padding-base);
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-sub);
  font-family: var(--culf-text-2);
}
