.div {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.div1 {
  width: 45px;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-7xs);
  text-align: right;
  font-size: var(--culf-button-2-size);
  color: var(--text-guidetext);
}
.property1long,
.textParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textParent {
  width: 335px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.property1long {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
