.accountContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.passwordSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accountBottom {
  margin-top: 60px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
