.main {
  width: 100%;
  max-width: var(--max-width);
  padding: 0;
  box-sizing: border-box;
}

.curatorListSection {
  padding: 44px 0 0 20px;
}

.sectionTitle {
  padding: 0 2px;
  width: 166px;
  word-wrap: keep-all;
}

.chatListSection {
  padding-top: 44px;
  padding-bottom: 35px;
}

.chatListSection .sectionTitle {
  padding-left: 20px;
  margin-bottom: 16px;
}
