.div {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.email,
.text {
  display: flex;
  justify-content: flex-start;
}
.text {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-11xs);
}
.email {
  position: absolute;
  top: 383px;
  left: calc(50% - 167.5px);
  width: 335px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.b,
.div1 {
  position: relative;
  line-height: 150%;
}
.b {
  align-self: stretch;
}
.div1 {
  width: 331px;
  font-size: var(--culf-text-2-size);
  font-weight: 500;
  color: var(--background-default);
  display: none;
}
.email1,
.title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  width: 100%;
  top: 139px;
  right: 0;
  left: 0;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  font-size: var(--culf-title-1-size);
}
.email1 {
  top: 496px;
  left: calc(50% - 167.5px);
  width: 335px;
  gap: var(--gap-5xs);
}
.vectorIcon {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 13px);
  width: 26px;
  height: 24px;
}
.frameChild {
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--line-line-strong);
  height: 2px;
}
.ellipseParent {
  position: absolute;
  top: 17px;
  left: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.iconnavBar {
  width: 36px;
  position: relative;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.div3 {
  position: relative;
  font-weight: 600;
}
.iconnavBarParent {
  position: absolute;
  top: 4px;
  left: 18px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.buttonnavBar {
  flex: 1;
  position: relative;
  height: 60px;
}
.applogo1Icon {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 14px);
  width: 28px;
  height: 19px;
  object-fit: cover;
}
.iconnavBar2 {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 22.5px);
  border-radius: var(--br-xs);
  background: linear-gradient(161.2deg, #1b47b3, #1c3b87);
  width: 46px;
  height: 46px;
  overflow: hidden;
}
.iconnavBar3 {
  width: 36px;
  position: relative;
  height: 36px;
}
.iconnavBarChild,
.iconnavBarItem {
  position: absolute;
  height: 29.17%;
  border: 1.5px solid var(--line-line-strong);
  box-sizing: border-box;
}
.iconnavBarChild {
  width: 29.17%;
  top: 14.72%;
  right: 35.28%;
  bottom: 56.11%;
  left: 35.56%;
  border-radius: 50%;
}
.iconnavBarItem {
  width: 70.83%;
  top: 56.39%;
  right: 14.44%;
  bottom: 14.44%;
  left: 14.72%;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
}
.navBar2 {
  width: 375px;
  background-color: var(--background-default);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navBar,
.navBar1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.navBar1 {
  width: 375px;
  display: none;
  flex-direction: row;
}
.navBar {
  position: absolute;
  bottom: 0;
  left: calc(50% - 187.5px);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-3xs);
  color: var(--text-text-disable);
  font-family: var(--font-suit);
}
.findPassword {
  width: 100%;
  position: relative;
  background-color: var(--background-default);
  height: 853px;
  overflow: hidden;
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
