.b {
  align-self: stretch;
  width: 334px;
  position: relative;
  line-height: 150%;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  flex-shrink: 0;
}
.profile,
.title {
  position: absolute;
  left: 0;
  width: 375px;
  display: flex;
  box-sizing: border-box;
}
.title {
  top: 104px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  max-height: 80px;
}
.profile {
  top: 184px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xl);
}
.p {
  margin: 0;
}
.div {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.text,
.wrapper {
  display: flex;
  flex-direction: column;
}
.text {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-9xs);
}
.wrapper {
  position: absolute;
  top: 234px;
  left: calc(50% - 187.5px);
  width: 375px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--culf-text-2-size);
}
.curly2Icon {
  position: absolute;
  top: calc(50% - 38.95px);
  left: calc(50% - 23.75px);
  width: 71px;
  height: 97px;
  object-fit: cover;
}
.imageContainer {
  position: absolute;
  top: 0;
  left: 68px;
  width: 85.5px;
  height: 116.7px;
}
.curly2Icon1 {
  position: absolute;
  top: calc(50% - 24.5px);
  left: calc(50% - 31.5px);
  width: 64px;
  height: 88px;
  object-fit: cover;
}
.imageContainer1,
.molly2Icon {
  position: absolute;
  top: 0.4px;
  left: 0;
  width: 77px;
  height: 105px;
}
.molly2Icon {
  top: 28.4px;
  left: 154px;
  width: 70px;
  height: 88px;
  object-fit: cover;
}
.imageContainerParent {
  position: absolute;
  top: 623px;
  left: 70px;
  width: 224px;
  height: 116.7px;
}
.notificationDetail {
  width: 100%;
  position: relative;
  background-color: var(--background-default);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--culf-title-3-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
