.tap {
  position: absolute;
  top: 162px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.b,
.div {
  position: relative;
  line-height: 150%;
}
.div {
  font-size: var(--culf-text-2-size);
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.div1,
.div2,
.div3 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.div2,
.div3 {
  font-weight: 500;
}
.div3 {
  font-size: var(--culf-button-2-size);
  font-weight: 600;
}
.number {
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-9xs);
  font-size: var(--culf-text-2-size);
}
.info,
.number,
.title {
  display: flex;
  flex-direction: row;
}
.title {
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--culf-button-2-size);
}
.info {
  position: absolute;
  top: 103.5px;
  left: 0;
  border-top: 1px solid var(--text-default);
  border-bottom: 1px solid var(--text-default);
  box-sizing: border-box;
  width: 375px;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-5xl);
}
.paymentHistory {
  width: 100%;
  position: relative;
  background-color: var(--background-default);
  height: 941px;
  overflow: hidden;
  text-align: left;
  font-size: var(--culf-title-3-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
