.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 536px;
  object-fit: cover;
}
.div {
  position: relative;
  line-height: 123%;
  font-weight: 600;
}
.title {
  width: 295px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div1,
.div2 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.div2 {
  font-weight: 600;
  color: var(--keycolor-2);
  text-align: right;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.div4 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  text-align: right;
}
.information,
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.information {
  width: 295px;
  align-items: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--culf-button-2-size);
  color: var(--line-less-highlight);
}
.section {
  position: absolute;
  top: 60px;
  left: calc(50% - 147.5px);
  align-items: center;
  gap: var(--gap-xs);
}
.logoIcon {
  position: absolute;
  top: 20px;
  left: calc(50% - 22.5px);
  width: 45px;
  height: 18px;
}
.row2,
.section1,
.title1 {
  display: flex;
  justify-content: flex-start;
}
.title1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.row2,
.section1 {
  align-items: flex-start;
  gap: var(--gap-xs);
}
.row2 {
  align-self: stretch;
  flex-direction: row;
}
.section1 {
  position: absolute;
  top: 182px;
  left: 20px;
  width: 295px;
  flex-direction: column;
}
.div8 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  color: var(--text-default);
  text-align: right;
}
.information1,
.section3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.information1 {
  align-items: flex-start;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-7xs);
  font-size: var(--culf-button-2-size);
  color: var(--line-less-highlight);
}
.section3 {
  align-items: center;
  gap: var(--gap-xs);
}
.sectionChild {
  align-self: stretch;
  position: relative;
  border-top: 1px solid #9a9a9a;
  box-sizing: border-box;
  height: 1px;
}
.div14 {
  position: relative;
  font-size: var(--culf-cardtitle-1-size);
  line-height: 123%;
  font-weight: 600;
  color: var(--keycolor-2);
}
.section2,
.title3 {
  display: flex;
  align-items: center;
}
.title3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--culf-text-2-size);
}
.section2 {
  position: absolute;
  top: 339px;
  left: calc(50% - 147.5px);
  width: 295px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.groupParent {
  position: absolute;
  top: 118px;
  left: calc(50% - 167.5px);
  width: 335px;
  height: 536px;
}
.payment {
  width: 100%;
  position: relative;
  background-color: var(--background-default);
  height: 1046px;
  overflow: hidden;
  text-align: left;
  font-size: var(--culf-cardtitle-1-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
