.b,
.div {
  position: relative;
  line-height: 150%;
}
.b {
  align-self: stretch;
}
.div {
  width: 331px;
  font-size: var(--culf-text-2-size);
  font-weight: 500;
  color: var(--background-default);
  display: none;
}
.title {
  position: absolute;
  width: 100%;
  top: 139px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.iconsimpleArrow {
  top: 12px;
  left: 28px;
  width: 9px;
  height: 18px;
}
.back,
.div1,
.iconsimpleArrow {
  position: absolute;
}
.div1 {
  top: calc(50% - 11px);
  left: calc(50% - 31.5px);
  line-height: 123%;
  font-weight: 600;
}
.back {
  top: 44px;
  left: 0;
  width: 375px;
  height: 42px;
  text-align: center;
  font-size: var(--culf-cardtitle-1-size);
}
.lineChild,
.lineInner,
.lineItem {
  position: absolute;
  height: 13.33%;
  width: 109.09%;
  top: -6.67%;
  right: -4.55%;
  bottom: 93.33%;
  left: -4.55%;
  border-top: 2px solid var(--text-default);
  box-sizing: border-box;
}
.lineInner,
.lineItem {
  top: 43.33%;
  bottom: 43.33%;
}
.lineInner {
  top: 93.33%;
  bottom: -6.67%;
}
.line {
  position: absolute;
  height: 53.57%;
  width: 78.57%;
  top: 21.43%;
  right: 10.71%;
  bottom: 25%;
  left: 10.71%;
}
.header,
.icon {
  position: absolute;
  display: none;
}
.icon {
  top: calc(50% - 14px);
  left: 24px;
  width: 28px;
  height: 28px;
}
.header {
  top: 44px;
  left: 0;
  width: 375px;
  height: 50px;
}
.vectorIcon {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 13px);
  width: 26px;
  height: 24px;
}
.frameChild {
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--line-line-strong);
  height: 2px;
}
.ellipseParent {
  position: absolute;
  top: 17px;
  left: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.iconnavBar {
  width: 36px;
  position: relative;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.div2 {
  position: relative;
  font-weight: 600;
}
.iconnavBarParent {
  position: absolute;
  top: 4px;
  left: 18px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.buttonnavBar {
  flex: 1;
  position: relative;
  height: 60px;
}
.applogo1Icon {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 14px);
  width: 28px;
  height: 19px;
  object-fit: cover;
}
.iconnavBar2 {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 22.5px);
  border-radius: var(--br-xs);
  background: linear-gradient(161.2deg, #1b47b3, #1c3b87);
  width: 46px;
  height: 46px;
  overflow: hidden;
}
.iconnavBar3 {
  width: 36px;
  position: relative;
  height: 36px;
}
.iconnavBarChild,
.iconnavBarItem {
  position: absolute;
  height: 29.17%;
  border: 1.5px solid var(--line-line-strong);
  box-sizing: border-box;
}
.iconnavBarChild {
  width: 29.17%;
  top: 14.72%;
  right: 35.28%;
  bottom: 56.11%;
  left: 35.56%;
  border-radius: 50%;
}
.iconnavBarItem {
  width: 70.83%;
  top: 56.39%;
  right: 14.44%;
  bottom: 14.44%;
  left: 14.72%;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
}
.navBar2 {
  width: 375px;
  background-color: var(--background-default);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navBar,
.navBar1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.navBar1 {
  width: 375px;
  display: none;
  flex-direction: row;
}
.navBar {
  position: absolute;
  bottom: 0;
  left: calc(50% - 187.5px);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-3xs);
  color: var(--text-text-disable);
  font-family: var(--font-suit);
}
.termsAgreement {
  width: 100%;
  position: relative;
  background-color: var(--background-default);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--culf-title-1-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
