.header {
  width: 100%;
  max-width: var(--max-width);
  height: 60px;
  box-sizing: border-box;
  background: var(--background-default, #fff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.button {
  border: 0;
  background-color: transparent;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.empty {
  width: 28px;
  height: 28px;
}
