.button {
  position: relative;
  line-height: 123%;
  font-weight: 600;
}
.property1size4Property2de {
  width: 100px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--keycolor-2);
  border: 1px solid var(--text-default);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-3xs);
  text-align: center;
  font-size: var(--culf-button-2-size);
  color: var(--background-default);
  font-family: var(--culf-text-2);
}
