.backgroundChild {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: var(--br-xs) var(--br-xs) 0 var(--br-xs);
  background-color: var(--pointcolor-blue-dark);
  border: 1px solid var(--text-default);
  box-sizing: border-box;
  width: 150px;
  height: 176px;
}
.background,
.backgroundItem {
  position: absolute;
  top: 0;
  left: 0;
}
.backgroundItem {
  border-radius: var(--br-xs) var(--br-xs) 0 var(--br-xs);
  background-color: var(--pointcolor-blue-default);
  border: 1px solid var(--text-default);
  box-sizing: border-box;
  width: 150px;
  height: 176px;
}
.background {
  width: 155px;
  height: 181px;
}
.imageContainerIcon {
  position: absolute;
  top: 80px;
  left: 83px;
  width: 63px;
  height: 86px;
  object-fit: cover;
}
.tags {
  position: absolute;
  top: 121px;
  left: 14px;
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.p {
  margin: 0;
}
.div {
  align-self: stretch;
  position: relative;
  line-height: 123%;
  font-weight: 600;
}
.text {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 76px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card {
  width: 156px;
  position: relative;
  height: 182px;
  text-align: left;
  font-size: var(--culf-cardtitle-1-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
