.property1defaultChild {
  position: absolute;
  height: 83.85%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 16.15%;
  left: 0;
  border-radius: var(--br-xs) var(--br-xs) 0 var(--br-xs);
  background-color: var(--background-default);
  border: 1.5px solid var(--line-less-highlight);
  box-sizing: border-box;
}
.div,
.off {
  position: relative;
  line-height: 123%;
  font-weight: 600;
}
.div {
  align-self: stretch;
  text-decoration: line-through;
  line-height: 150%;
  font-weight: 500;
}
.b {
  display: inline-block;
  max-width: 160px;
}
.b,
.b1 {
  position: relative;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: -4px;
  font-size: var(--culf-title-3-size);
  color: var(--text-default);
}
.bottom,
.parent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.parent {
  flex: 1;
  flex-direction: column;
  text-align: right;
  font-size: var(--culf-button-2-size);
  color: var(--color-darkgray-100);
}
.bottom {
  position: absolute;
  top: 78px;
  left: calc(50% - 149.5px);
  width: 299px;
  flex-direction: row;
  gap: var(--gap-base);
}
.icon {
  width: 14px;
  position: relative;
  height: 14px;
}
.guideText1 {
  position: relative;
  line-height: 150%;
}
.guideText {
  position: absolute;
  height: 13.04%;
  top: 86.96%;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  font-size: var(--culf-button-2-size);
  color: var(--keycolor-2);
}
.b2,
.div1 {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}
.div1 {
  font-size: var(--m3-label-medium-size);
  line-height: 123%;
  font-weight: 500;
}
.container {
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.topChild {
  width: 42.5px;
  position: relative;
  height: 15px;
}
.top {
  position: absolute;
  top: 16px;
  left: calc(50% - 149.5px);
  width: 299px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-70xl);
  font-size: var(--culf-title-2-size);
}
.property1default {
  width: 335px;
  position: relative;
  height: 161px;
  text-align: left;
  font-size: var(--culf-cardtitle-1-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
