.div {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.changePw,
.newPw,
.text {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.text {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-11xs);
}
.changePw,
.newPw {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.changePw {
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
