.image1677Icon {
  position: absolute;
  top: 7.5px;
  left: 3.6px;
  width: 19.7px;
  height: 6px;
  object-fit: cover;
}
.toss {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 13.5px);
  border-radius: var(--br-11xs);
  background-color: var(--background-default);
  width: 27px;
  height: 21px;
}
.property1mediumProperty2t {
  width: 32px;
  position: relative;
  height: 32px;
}
