.imageHolderIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.curly1 {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 34px;
}
.property1profile {
  width: 36px;
  position: relative;
  border-radius: var(--br-980xl);
  background-color: var(--color-papayawhip);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 36px;
  overflow: hidden;
}
