.placeholder {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.property1size3Property2de {
  width: 260px;
  position: relative;
  border-radius: 0 var(--br-xs) var(--br-xs) var(--br-xs);
  background-color: var(--box-default);
  border: 1px solid var(--line-less-highlight);
  box-sizing: border-box;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  text-align: left;
  font-size: var(--culf-button-2-size);
  color: var(--text-sub);
  font-family: var(--culf-text-2);
}
