.icon {
  width: 32px;
  position: relative;
  height: 32px;
}
.inputBox {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-11xl);
  gap: var(--gap-5xs);
}
.div,
.iconChild {
  align-self: stretch;
  position: relative;
}
.iconChild {
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 48px;
}
.div {
  line-height: 123%;
  font-weight: 500;
}
.icon1 {
  width: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.action,
.property1default {
  width: 375px;
  box-sizing: border-box;
}
.action {
  height: 100px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0 var(--padding-xl);
  gap: var(--gap-13xl);
}
.property1default {
  position: relative;
  background-color: var(--box-default);
  border-top: 1px solid var(--line-less-highlight);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  text-align: center;
  font-size: var(--culf-button-2-size);
  color: var(--background-default);
  font-family: var(--font-inter);
}
