.icon,
.label {
  position: relative;
}
.icon {
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.label {
  line-height: 150%;
  font-weight: 600;
}
.property1 {
  width: 335px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--kakao-bg);
  height: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--kakao-text);
  font-family: var(--culf-text-2);
}
