.iconmenu {
  width: 28px;
  position: relative;
  height: 28px;
}
.div,
.text {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.div {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text {
  color: var(--color-black);
  white-space: pre-wrap;
}
.menuChild {
  width: 9px;
  position: relative;
  height: 9px;
}
.menu,
.menu1 {
  display: flex;
  justify-content: flex-start;
}
.menu1 {
  align-self: stretch;
  border-top: 1px solid var(--line-less-highlight);
  border-bottom: 1px solid var(--line-less-highlight);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl);
  gap: var(--gap-5xs);
  cursor: pointer;
}
.menu {
  position: absolute;
  top: 578px;
  left: 0;
  width: 282px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
