.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  font-weight: 500;
  display: inline-block;
}
.div,
.groupContainer,
.groupWrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 4.4px);
  width: 8.8px;
  height: 19.3px;
}
.groupWrapper {
  top: 1px;
  left: calc(50% - 4px);
}
.groupParent {
  position: absolute;
  height: 85.71%;
  width: 85.71%;
  top: 7.14%;
  right: 7.14%;
  bottom: 7.14%;
  left: 7.14%;
}
.iconmenu {
  width: 28px;
  position: relative;
  height: 28px;
  font-size: var(--font-size-mid);
  font-family: var(--font-inter);
}
.div1,
.text {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.div1 {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text {
  color: var(--color-black);
  white-space: pre-wrap;
}
.menuChild {
  width: 9px;
  position: relative;
  height: 9px;
}
.menu {
  align-self: stretch;
  border-top: 1px solid var(--line-less-highlight);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-5xs);
  cursor: pointer;
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
