.div,
.div1 {
  align-self: stretch;
  position: relative;
}
.div {
  font-weight: 600;
}
.div1 {
  font-size: var(--culf-button-2-size);
}
.icon,
.text {
  position: absolute;
}
.text {
  bottom: 151px;
  left: calc(50% - 157.5px);
  width: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon {
  top: 16px;
  left: 327px;
  width: 28px;
  height: 28px;
}
.modal {
  width: 375px;
  position: relative;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--box-light);
  height: 263px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--culf-text-2-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
