.div,
.pm {
  position: absolute;
  top: -6.67%;
  left: 39%;
  line-height: 150%;
  font-weight: 500;
}
.pm {
  top: 53.33%;
  font-size: var(--m3-label-medium-size);
  letter-spacing: 0.5px;
  line-height: 16px;
  font-family: var(--m3-label-medium);
  color: var(--text-guidetext);
}
.profiledefaultChild {
  position: absolute;
  height: 90%;
  width: 27%;
  top: 6.67%;
  right: 70%;
  bottom: 3.33%;
  left: 3%;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
}
.profiledefault {
  width: 100px;
  position: relative;
  height: 30px;
  text-align: left;
  font-size: var(--culf-button-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
