.radioboxIcon {
  width: 24px;
  position: relative;
  height: 24px;
}
.div {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.property1default {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
