.b {
  position: relative;
  line-height: 150%;
}
.radioboxParent,
.section,
.wrapper {
  display: flex;
  justify-content: flex-start;
}
.wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-11xs);
}
.radioboxParent,
.section {
  align-items: flex-start;
}
.radioboxParent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-9xs);
  gap: 20px 24px;
}
.section {
  position: absolute;
  top: 694px;
  left: calc(50% - 167.5px);
  width: 335px;
  flex-direction: column;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--culf-title-3-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
