.tag {
  position: relative;
  line-height: 123%;
  font-weight: 500;
}
.property1keycolor2 {
  position: relative;
  border-radius: var(--br-980xl);
  background-color: var(--keycolor-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-5xs);
  text-align: left;
  font-size: var(--m3-label-medium-size);
  color: var(--background-default);
  font-family: var(--culf-text-2);
}
