.image50Icon {
  object-fit: cover;
}
.image50Icon,
.image50Parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 838.6px;
}
.addPayment {
  width: 100%;
  position: relative;
  height: 838.6px;
}
