.icon,
.icon1 {
  width: 198.7px;
  position: relative;
  height: 47.8px;
}
.icon1 {
  width: 326.9px;
  height: 14px;
}
.parent {
  position: absolute;
  top: 144px;
  left: calc(50% - 167.5px);
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.icon2 {
  width: 321.9px;
  position: relative;
  height: 38px;
}
.wrapper {
  position: absolute;
  top: 701px;
  left: calc(50% - 167.5px);
  width: 335px;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.buttonParent,
.checkbox,
.etc,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.etc {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.buttonParent,
.checkbox {
  position: absolute;
  width: 335px;
}
.checkbox {
  top: 278px;
  left: calc(50% - 167.5px);
  flex-direction: column;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-mid);
}
.buttonParent {
  bottom: 72px;
  left: 20px;
  flex-direction: row;
  gap: var(--gap-base);
}
.deleteAccount {
  width: 100%;
  position: relative;
  background-color: var(--background-default);
  height: 892px;
  overflow: hidden;
}
