.div {
  width: 329px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.title {
  align-self: stretch;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-3xs) var(--padding-11xs);
  box-sizing: border-box;
}
.imagePlaceholderIcon {
  width: 88px;
  position: relative;
  height: 85px;
}
.contents,
.image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.image {
  align-self: stretch;
}
.contents {
  position: absolute;
  top: 124px;
  left: 20px;
  width: 335px;
}
.inquiries {
  width: 100%;
  position: relative;
  background-color: var(--background-default);
  height: 1015px;
  overflow: hidden;
  text-align: left;
  font-size: var(--culf-text-2-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
