.p {
  margin: 0;
}
.ai {
  position: relative;
  line-height: 135%;
}
.aiWrapper {
  position: absolute;
  width: 100%;
  top: 120px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xl);
  box-sizing: border-box;
}
.paymentItem {
  width: 100%;
  position: relative;
  background-color: var(--background-default);
  height: 1193px;
  overflow: hidden;
  text-align: left;
  font-size: var(--culf-title-2-size);
  color: var(--color-black);
  font-family: var(--culf-text-2);
}
