.tap {
  position: absolute;
  top: 162px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.b,
.div {
  position: relative;
  line-height: 150%;
}
.div {
  font-size: var(--culf-text-2-size);
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.div1,
.div3 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.div3 {
  font-size: var(--culf-button-2-size);
}
.number {
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-9xs);
  font-size: var(--culf-text-2-size);
}
.info,
.number,
.title {
  display: flex;
  flex-direction: row;
}
.title {
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--culf-button-2-size);
}
.info {
  position: absolute;
  top: 103.5px;
  left: 0;
  border-top: 1px solid var(--line-highlight);
  border-bottom: 1px solid var(--line-highlight);
  box-sizing: border-box;
  width: 375px;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-5xl);
  font-size: var(--culf-title-3-size);
}
.div4,
.div5 {
  position: relative;
  line-height: 123%;
  font-weight: 600;
}
.div5 {
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textbutton,
.title1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textbutton {
  justify-content: center;
  padding: var(--padding-3xs) 0;
  cursor: pointer;
  font-size: var(--culf-button-2-size);
  color: var(--text-sub);
}
.title1 {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 var(--padding-11xs);
}
.div6 {
  width: 60px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0;
}
.artkim01gmailcom {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.information,
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information {
  align-self: stretch;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-9xs);
  font-size: var(--culf-text-2-size);
}
.section {
  position: absolute;
  top: 800px;
  left: calc(50% - 167.5px);
  width: 335px;
  gap: var(--gap-3xs);
}
.textbutton1,
.title2 {
  flex-direction: row;
  align-items: center;
}
.textbutton1 {
  display: none;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  font-size: var(--culf-button-2-size);
  color: var(--text-sub);
}
.title2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-3xs);
}
.standard {
  display: inline-block;
  max-width: 80px;
}
.standard,
.usd {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.money {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  max-width: 90px;
}
.standard1 {
  width: 79px;
  position: relative;
  font-size: var(--culf-text-2-size);
  line-height: 150%;
  font-weight: 500;
  display: none;
}
.row2 {
  width: 327px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xs) 0;
  box-sizing: border-box;
}
.div15,
.div16 {
  display: inline-block;
  flex-shrink: 0;
}
.div15 {
  width: 90px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.div16 {
  width: 80px;
}
.div16,
.div17,
.div18 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.div17 {
  width: 36px;
  display: none;
  flex-shrink: 0;
}
.div18 {
  color: var(--text-default);
}
.money2 {
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: center;
  color: var(--text-sub);
}
.div20 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  color: var(--text-default);
  text-align: left;
}
.money3 {
  width: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: right;
  color: var(--text-sub);
}
.tag1 {
  position: relative;
  line-height: 123%;
  font-weight: 500;
}
.row4,
.tag {
  display: none;
  align-items: center;
}
.tag {
  border-radius: var(--br-980xl);
  background-color: var(--keycolor-5);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-5xs);
  font-size: var(--m3-label-medium-size);
  color: var(--keycolor-2);
}
.row4 {
  width: 327px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-11xs);
  box-sizing: border-box;
}
.information1,
.section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information1 {
  align-self: stretch;
  gap: var(--gap-7xs);
  font-size: var(--culf-button-2-size);
}
.section1 {
  position: absolute;
  top: 967px;
  left: calc(50% - 167.5px);
  width: 335px;
  gap: var(--gap-base);
}
.subscriptionManagement {
  width: 100%;
  position: relative;
  background-color: var(--background-default);
  height: 1224px;
  overflow: hidden;
  text-align: left;
  font-size: var(--culf-cardtitle-1-size);
  color: var(--text-default);
  font-family: var(--culf-text-2);
}
